<!DOCTYPE html>
<html lang="en">
  <head>
      <% include partials/head %>
  </head>
  <body>
          <p class="text-success">
        <div class="text-center">
            <div class="col pt-5">
              <h1>Hello anonymous</h1>
            </div>
            <div class="col">           
      <button class="btn btn-lg btn-danger" href="/login" onClick='document.location.href="/login"'>
        Connection
      </button>
      <button  class= "btn btn-lg btn-success" href="/signup" onClick='document.location.href="/signup"'> 
        Create account
      </button>

        
          </div>
        </p>
         </div>
      
  
  </body>
</html>
