<!DOCTYPE html>
<html>
<ul>
    <% include partials/head %>
</ul>

<body>
    <div class="col-md-6 col-md-offset-3">
        <h1>Please register </h1>
        <form method="POST">

            <div class="field">
                <label for="form_password">Email:</label>
                <textarea name="mail" id="mail"></textarea>
            </div>
            <div class="field">
                <label for="form_password">Password:</label>
                <textarea name="password" id="password"></textarea>
            </div>
            <button type="submit">
                Press
            </button>
        </form>
    </div>
</body>

</html>